<div class=container>
  <div class="question">
    <p><%= params[:question].capitalize %></p>
    <p>-<em>You</em></p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p>-<em>Your Coach</em></p>
  </div>
  <p class=link><%= link_to "Ask a new question", ask_path %></p>
<div>
